*{
    padding: 0;
    margin: 0;
}
:root{
    --color-background: whitesmoke;
    --color-default: white;
    --color-text: #190019;
    --color-primary: #2B124C;
    --color-sencondary: #522B5B;
    --color-online: red;
}

body{
    font-family: 'Poppins', 'Rubik', 'sans-serif';
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 4px;
    margin-bottom: 20px;
}

header{
    background-color: var(--color-default);
    border-radius: 14px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding-bottom: 10px;
}

.header{
    height: auto;
    width: 100%;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-top: 25px;
    margin-left: 25px;
}

.active{
    color: var(--color-sencondary);
}

.logo{
    margin-top: -10px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.title-div{
    border-left: 4px solid var(--color-sencondary);
}

.title{
    margin-left: 10px;
    color: var(--color-sencondary);
}

.open-close{
    background-color: var(--color-online);
    color: var(--color-default);
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.address{
    font-size: 12px;
}

.infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    color: var(--color-sencondary);
    padding-top: 8px;
}

.star{
    background-color: goldenrod;
    color: var(--color-default);
    border-radius: 4px;
    padding: 2px 4px;
    cursor: pointer;
}
.star-rating{
    margin-left: 4px;   
}

.destaque{
    background-color: var(--color-sencondary);
    margin-top: 10px;
    
    width: 100%;
    height: 140px;
    border-radius: 10px;
    color: var(--color-default);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, var(--color-primary),var(--color-sencondary)95%);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.destaque-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destaque-item-icon{
    width: 90px;
    margin-top: 6px;
    border-radius: 12px;
}

.destaque-item-name{
    text-transform: lowercase;
    font-size: 12px;
}
.destaque-item-value{
    margin-top: 4px;
    color: rgb(0, 219, 248);
    font-size: 10px;
    font-family: 'Outfit';
}

.promotion{
    color: var(--color-sencondary);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.promotion-item{
    width: 100%;
    height: 140px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
}

.promotion-icon{
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.promotion-item-name{
    margin-top: 2px;
    text-transform: lowercase;
    font-size: 10px;
}

.promotion-item-value{
    color: rgb(0, 182, 206);
    font-size: 8px;
    font-family: 'Outfit';
}

.category{
    text-transform: lowercase
}

.product{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 25px;
    background-color: var(--color-default);
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}

.product-info{
    width: 95%;
}

.product-type{
    font-size: 16px;
    padding-left: 5px;
}

.product-description{
    font-size: 8px;
    padding-left: 6px;
    margin-top: -2px;
}

.open-cardapio{
    width: 25px;
    padding-left: 20px;
}

.open-cardapio-button{
    background-color: transparent;
    border: none;
    color: rgb(0, 182, 206);
}